*
!/.gitignore
!/README.md
!/java
!/java/Java.inc
!/java/JavaProxy.php
!/WEB-INF
!/WEB-INF/cgi
!/WEB-INF/cgi/amd64-linux
!/WEB-INF/cgi/amd64-linux/conf.d
!/WEB-INF/cgi/amd64-linux/ext
!/WEB-INF/cgi/amd64-linux/launcher.sh
!/WEB-INF/cgi/amd64-linux/php-cgi.MISSING.README.txt
!/WEB-INF/lib
!/WEB-INF/lib/JavaBridge.jar
!/WEB-INF/lib/php-script.jar
!/WEB-INF/lib/php-servlet.jar
!/WEB-INF/lib/urlrewritefilter-4.0.3.jar
!/WEB-INF/pear
!/WEB-INF/urlrewrite.xml
!/WEB-INF/web.xml